<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>API Test</title>
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/default.css"/>
</head>
<body>
<h1 class="title"><%= page_title %></h1>
<div><label>현재 시간</label> <%= time %> </div>
<ul>
    <li>
        <button id="test-simple" type="button">Hello</button>
    </li>
    <li></li>
    <li><a href="page?first_data=dlwlrma&second_data=rollin">page table 이동</a></li>
</ul>

<form action="page" method="get">
    이름 : <input type="text" name="first_data"/> <br>
    제목 : <input type="text" name="second_data"/> <br>
    <button type="submit">get submit</button>
</form>

<br>
<div>POST</div>
<form action="page" method="post">
    이름 : <input type="text" name="first_data"/> <br>
    제목 : <input type="text" name="second_data"/> <br>
    <button type="submit">post submit</button>
</form>

<br>

<a href="save_cookie">저장</a><br>
<a href="load_cookie">로드</a>

<br>

<a href="save_session">저장</a><br>
<a href="load_session">로드</a>

<script>
    $('#test-simple').click( async e => {
        console.log("???")
        let result = await $.get('/test-api', function (data) {
            alert(data);
        });
    });
</script>
</body>
</html>
