<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Table Page</title>
</head>
<body>
    <div class="table">
        <table>
            <tr>
                <th>이름</th>
                <th>제목</th>
            </tr>
            <tr>
                <td><%= name %></td>
                <td><%= title_name %></td>
            </tr>
        </table>
    </div><br>
    <a href="/">back</a>
</body>
</html>
